*{
    margin: 0px;
    padding: 0px;
    
}
#main
{
    display: grid;
    grid-template-rows: 110% 1000%;
}
#top
{
    border: 1px solid lightgrey;
    column-span: 3;
}
#bottom
{
    display: grid;
    grid-template-columns: 10% 45% 45%;
}
#side
{
    border: 1px solid lightgrey;
}
#code
{
    display: grid;
    grid-template-rows: 10% 90%;
}
#sidebar
{
    border: 1px solid lightgrey;
}
#scode
{
    border: 1px solid lightgrey;
}
#output
{
    display: grid;
    grid-template-rows: 10% 90%;
}
#sidebar1
{
    border: 1px solid lightgrey;
}
#opt
{
    border: 1px solid lightgrey;
}
h1
{
    text-align: center;
    margin-top: 10px;
}